<body>
    <h1>Phone Order GUI</h1>
    <link rel="stylesheet" href="../static/style.css">
    <style></style>
    <hr>

    <div class="container">
        <div class="orderFormElement">
            <h2>Choose your options:</h2>
            <form id="orderForm">
                <label for="topCoverColor">Top Color:</label>
                <select id="topCoverColor" name="topCoverColor" onchange="updatePhonePreview()">
                    <option value="black" selected>Black</option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                </select>
        
                <label for="bottomCoverColor">Bottom Color:</label>
                <select id="bottomCoverColor" name="bottomCoverColor" onchange="updatePhonePreview()">
                    <option value="black" selected>Black </option>
                    <option value="white">White</option>
                    <option value="blue">Blue</option>
                </select>
        
                <label for="fuses">Fuses:</label>
                <select id="fuses" name="fuses" onchange="updatePhonePreview()">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                </select>
        
                <button type="submit">Add to Order</button>
            </form>
        
            <img class="preview" id="phonePreview" src="" alt="Phone Preview">
        </div>
        <div class="orderListElement">       
            <h2>Order List</h2>
            <!-- <h2>The current time is : <span id="current-time"></span></h2> -->
            <button id="deleteOrderListButton" onclick="deleteOrderList()">Delete Order List</button>
            <button id="deleteLastPhoneButton" onclick="deleteLastPhone()">Delete Last Phone</button>
            <button id="sendOrderList" onclick="sendOrderListToServer()">Send to robot</button>
            <table id="orderTable">
                <thead>
                    <tr>
                        <th>Phone Number</th>
                        <th>Top Color</th>
                        <th>Bottom Color</th>
                        <th>Fuses</th>
                    </tr>
                </thead>
                <tbody id="orderListTableBody"></tbody>
            </table>
         </div>
    </div>


    <script>
        // Add your JavaScript code here

        /*
        function fetchCurrentTime() {
            fetch('/current_time')
                .then(response => response.json())
                .then(data => {
                    // Update the webpage with the current time
                    document.getElementById('current-time').textContent = data.current_time;
                })
                .catch(error => console.error('Error:', error));
        }
        

        // Fetch current time when the page loads
        fetchCurrentTime();

        // Fetch current time periodically (e.g., every second)
        setInterval(fetchCurrentTime, 500); // Fetch every second
        */

        const orderForm = document.getElementById('orderForm');
        const orderListTableBody = document.getElementById('orderListTableBody');
        const phonePreview = document.getElementById('phonePreview');

        let phoneNumber = 1;

        orderForm.addEventListener('submit', function(event) {
            event.preventDefault();

            if (orderListTableBody.children.length < 5) {
                const topCoverColor = document.getElementById('topCoverColor').value;
                const bottomCoverColor = document.getElementById('bottomCoverColor').value;
                const fuses = document.getElementById('fuses').value;

                const orderRow = document.createElement('tr');
                const phoneNumberCell = document.createElement('td');
                const topCoverColorCell = document.createElement('td');
                const bottomCoverColorCell = document.createElement('td');
                const fusesCell = document.createElement('td');

                phoneNumberCell.textContent = phoneNumber;
                topCoverColorCell.textContent = topCoverColor;
                bottomCoverColorCell.textContent = bottomCoverColor;
                fusesCell.textContent = fuses;

                orderRow.appendChild(phoneNumberCell);
                orderRow.appendChild(topCoverColorCell);
                orderRow.appendChild(bottomCoverColorCell);
                orderRow.appendChild(fusesCell);

                orderListTableBody.appendChild(orderRow);
                console.log(getOrderListAsArray()); 

                phoneNumber++;
            }
            
        });



        function sendOrderListToServer() {
            const orderListArray = getOrderListAsArray();

            fetch('/receive_order_list', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderListArray)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.href = '/waiting_on_robot';
                
            })
            .catch(error => console.error('Error:', error));
        }

        function getOrderListAsArray() {
            const orderListArray = [];
            const rows = orderListTableBody.querySelectorAll('tr');

            rows.forEach(row => {
                const rowData = [];
                const cells = row.querySelectorAll('td');

                cells.forEach(cell => {
                    rowData.push(cell.textContent);
                });

                orderListArray.push(rowData);
            });

            return orderListArray;
        }

        function updatePhonePreview() {
            const topCoverColor = document.getElementById('topCoverColor').value;
            const bottomCoverColor = document.getElementById('bottomCoverColor').value;
            const fuses = document.getElementById('fuses').value;

            // Update the phone preview image based on the selected options
            phonePreview.src = getPhonePreviewImage(topCoverColor, bottomCoverColor, fuses);
        }

        function getPhonePreviewImage(topCoverColor, bottomCoverColor, fuses) {
            // Replace the URL with the actual path to your photos
            const photoPath = `../static/combos/${topCoverColor}_${bottomCoverColor}_${fuses}.png`;
            return photoPath;
        }

        function deleteOrderList() {
            orderListTableBody.innerHTML = "";
            phoneNumber = 1;
        }

        function deleteLastPhone() {
            const lastEntry = orderListTableBody.lastElementChild;
            if (lastEntry) {
                orderListTableBody.removeChild(lastEntry);
                // Decrement phoneNumber if needed
                phoneNumber--;
            }
        }

        window.onload = function() {
            updatePhonePreview();
            // add function here
        };

    </script>
</body>
